language: rust
sudo: false
cache: cargo

matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true

  include:
    - rust: stable

    - name: "Clippy"
      rust: nightly
      before_script: rustup component add clippy-preview
      script: cargo clippy --all

    - name: "rustfmt"
      rust: stable
      before_script: rustup component add rustfmt-preview
      script: cargo fmt --all -- --check

    - name: "warnings"
      rust: stable
      script: cargo check --all

    - name: "release"
      rust: stable
      script:
        - cargo build --verbose --all --release
        #- cargo test --verbose --all --release
        - cargo doc --verbose --all --release

    - os: osx
      osx_image: xcode10
    - os: windows

script:
- cargo build --all --verbose
- cargo build --all --verbose --no-default-features
#- cargo test --all --verbose
- cargo doc --all --verbose